<h1>Public::Homes#show</h1>

<div>
<p>
  ようこそ、ながのCAKEへ<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要となります。
</p>
</div>

<div>
  <h1>新着商品</h1>

<%= @items.each do |item| %>

  <p>タイトル</p>

  <!-- 商品画像追加しないといけない -->
  <span><%= item.name %></span>
  <!--値段-->

<% end %>

</div>