



<div class="top-image">
  <p class="top-text">
    ようこそ、Nagano Cakeへ！<br><br>
　　this site is an ec site for cake sales.<br><br>
    Non-members can also view products,<br>
    Membership registration is required for purchase.
  </p>
</div>

<div class="top-main">
  <div class="row">
    <h1 class="top-title"><strong>　　New Cakes</strong></h1>
  </div>

<div class="row">
 <div class="col">

<div class="top-items">
<% @items.each do |item| %>

    <!-- 商品画像 -->
    <%= image_tag item.get_image(100,100) %>
    <!-- 商品名 -->
    <%= item.name %>
    <!--値段-->
    ￥<%= item.after_tax_on_price.round %>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;



<% end %>
</div>

    <div class="row">
     <div class="col text-right">
       <h5><strong><%= link_to "all cakes >", public_items_path, class:"text-info" %></strong></h5>
     </div>
    </div>



   </div>
  </div>
 </div>

<div class="top-bottom"></div>