// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.secound-header {
  height: 250px;
  width: 100%;
  background-image: url(backphoto.jpeg);
  background-size: cover;
  background-position: center;
}