<div class="container">
  <div class="row">
    <div class="col">
      <h1><strong>注文情報入力</strong></h1>
      <table>
        <thaed>
          <th><strong>支払方法</strong></th>
        </thaed>
      </table>
    </div>
  </div>
</div>