/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.color {
    background-color: #990033;
}

.header-logo  p{
    font-family: 'Cormorant Infant', serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.body {
    margin-bottom: 30px;
    display: block;
    height: 800px;
}

main {
    margin-bottom: 10px;
}

.top-image {
    background-image: url(cake.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    text-align: center;
    padding-top: 160px;
    padding-right: 1100px;
}

.top-text {
    color: black;

}

.top-main {
    background-color: #FFf6d9;
    height: 300px;

}

.top-title {
    margin-top: 20px;

}

.top-items {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    font-size: 20px;
    background: url(wave-orange.png) bottom repeat-x;
    background-size: 20px;
    padding-bottom: 10px;
}

.top-bottom {
     background-color: #c5956b;
     height: 160px;
}

.about-image {
    background-image: url(make-cake.jpg);
    background-position: center center;
    height: 660px;
    width: 700px;
}

.about-text {
    padding: 100px 170px;
    background-color: #FFf6d9;


}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}