<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ジャンル一覧</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do genre %>
    <tr>
      <th><%= genre.name%></th>
      <td><%= link_to "選択する", %></td>
    </tr>
    <% end %>
    
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>